// Abstract
@import "../../abstracts/variables";
@import "../../abstracts/colors";
@import "../../abstracts/mixins";
@import "../../abstracts/functions";

// Base
@import "../../base/base";
@import "../../base/font";
@import "../../base/reset";
@import "../../base/animations";

// Layout
@import "../../layout/navigation";
@import "../../layout/sidebar";
@import "../../layout/grid";

// Components
@import "../../components/alert";
@import "../../components/button";
@import "../../components/badge";
@import "../../components/label";
@import "../../components/modal";
@import "../../components/infobox";
@import "../../components/success-popup";
@import "../../components/profile-card";

// Pages

// Themes
@import "../../themes/dark-theme";
@import "../../themes/light-theme";
@import "../../themes/material-theme";
@import "../../themes/flat-theme";

// Vendors
@import "../../vendors/bootstrap";
@import "../../vendors/owl-carousel";
@import "../../vendors/jqueryui";

// mixin
@mixin wrap_1280(){
    --innerWidth: 1280px;
    max-width: var(--innerWidth);
    margin: 0 auto;
}
@mixin wrap_1600(){
    --innerWidth: 1600px;
    max-width: var(--innerWidth);
    margin: 0 auto;
}

@mixin WensleyLight {
    font: {
        family: 'WensleyLight', 'sans-serif';
        weight: normal;
    }
}
@mixin WensleyRegular {
    font: {
        family: 'WensleyRegular', 'sans-serif';
        weight: normal;
    }
}
@mixin WensleyBold {
    font: {
        family: 'WensleyBold', 'sans-serif';
        weight: bold;
    }
}





body, button, input, select, table, textarea {
    font-family: 'WensleyLight', 'PretendardRegular', 'Spoqa Han Sans Neo', 'Noto Sans KR', sans-serif;
    color: #000;
    font-size: 16px;
    line-height: 1;
}

// <-- common class -->
.dn{
    display: none;
}
.dis-no{
    display: none !important;
}
.wrap_1280{
    @include wrap_1280;
}
.wrap_1600{
    @include wrap_1600;
}
.flex{
    display: flex;
    align-items: center;
    justify-content: center;
}
.flex_btw{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.justify_fs {
    justify-content: flex-start !important;
}
.font_wb {
    @include WensleyBold;
}
.rel {
    position: relative;
}
.abs {
    position: absolute;
    left: 0;
}
.bg {
    width: 100%;
    height: 100%;
}

// <-- scss start -->
header {
    color: #fff;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9998;
    transition-duration: 0.6s;
    background-color: transparent;
    font-family: 'WensleyRegular';
    &.on {
        transform: translateY(-100%);
    }
    .header_logo {
        padding-left: calc(105 / 1600 * 100%);
    }
    nav {
        margin-left: -13vw;
        .gnb {
            .dep1 {
                width: 100%;
                .dep1_txt {
                    display: block;
                    padding: 41px 25px;
                    text-transform: uppercase;
                    white-space: nowrap;
                }
            }
        }
    }
    .ham_wrap {
        width: 34px;
        display: flex;
        align-items: center;
        z-index: 9999;
        .ham_btn {
            width: 100%;
            height: 10px;
            position: relative;
            cursor: pointer;
            z-index: 9999;
            .line {
                width: 100%;
                height: 1px;
                background-color: #fff;
                position: absolute;
                right: 0;
                transition-duration: 0.4s;
                transform: translateY(-50%);
                &.n1 {
                    top: 0;
                }
                &.n2 {
                    bottom: 0;
                }
            }
        }
    }
}

.sec {
    height: 500px;
    width: 100%;

    &.sec01 {
        width: 100%;
        position: relative;
        color: #fff;
        padding-top: 60px;
        box-sizing: border-box;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        .video_wrap {
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            background-color: #000;
            iframe {
                width: 100vw;
                height: 56.25vw;
                min-height: 100vh;
                min-width: 177.77vh;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
        }
        .typo_wrap {
            width: 100%;
            position: absolute;
            .typo { //common
                width: 100%;
                position: relative;
                .wrap_cont {
                    justify-content: flex-end;
                    align-items: flex-end;
                    .big_txt {
                        height: calc((100vh - 80px) / 4);
                        img {
                            height: 100%;
                        }
                    }
                    .small_txt {
                        margin-left: 4.3%;
                        font-style: italic;
                        font-size: 112px;
                        color: #fff;
                        line-height: 72px;
                        .emph {
                            font-style: normal;
                        }
                    }
                }
                .line {
                    width: 100%;
                    height: 1px;
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    background-color: rgba(255, 255, 255, 0.3);
                }
                &.n2 {
                    .small_txt {
                        font-style: initial;
                    }
                }
                &.n3 {
                    padding-right: 20%;
                }
                &.n4 {
                    padding-right: 20%;
                }
            }
        }
    }
    &.sec02 {
        background-color: #000;
        display: flex;
        flex-direction: column;
        justify-content: center;
        .sec_tit {
            font-size: 82px;
            text-align: center;
            color: #fff;
        }
        .slide_wrap {
            margin-top: 60px;
            .slide_box {
                .slick-list {
                    .slide_cont {
                        margin-right: 30px;
                        width: 370px;
                        height: 370px;
                        background: #fff;
                        .img_wrap {
                            background: url(/img/soozi/pc_sec02_1-1.png) center/cover;
                            height: 100%;
                        }
                        .txt_wrap {
                            color: #fff;
                            font-family: sans-serif;
                            bottom: 30px;
                            left: 30px;
                            transition: all 1.5s ease;
                        }
                        &:hover {
                            display: inline-block;
                            left: 0;
                            opacity: 1;
                            .img_wrap {
                                background: url(/img/soozi/pc_sec02_1-2.png) center/cover;
                                transition: all .7s ease;
                            }
                            .txt_wrap {
                                color: #000;
                            }
                        }
                        &:nth-child(2n) {
                            .img_wrap {
                                background: url(/img/soozi/pc_sec02_2-1.png) center/cover;
                            }
                            &:hover {
                                .img_wrap {
                                    background: url(/img/soozi/pc_sec02_2-2.png) center/cover;
                                }
                            }
                        }
                    }
                }
                .slick-dots {
                    display: flex;
                    justify-content: center;
                    li {
                        width: 10px;
                        height: 10px;
                        transition-duration: 0.4s;
                        border-radius: 5px;
                        background-color: #fff;
                        margin-right: 5px;
                        opacity: .2;
                        &.slick-active {
                            width: 20px;
                            background-color: #b8b8c0;
                            opacity: 1;
                        }
                        button {
                            color: transparent;
                        }
                    }
                }
            }
        }
    }
    &.sec03 {
        width: 100%;
        position: relative;
        overflow: hidden;
        height: auto;
        .art_wrap {
            height: 100%;
            position: relative;
            height: 150vh;
            display: flex;
            flex-direction: column;
            justify-content: center;
            .bg {
                background-position: center;
                background-size: cover;
                background-repeat: no-repeat;
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
            }
            .txt_wrap{
                .btn_wrap {
                    position: relative;
                    text-align: center;
                    margin-top: 40px;
                    a {
                        border: 2px solid rgba(255, 255, 255, 0.7);
                        border-color: rgba(0, 0, 0, 0.8);
                        box-sizing: border-box;
                        font-size: 22px;
                        padding: 10px 50px;
                        transition-duration: 0.4s;
                    }
                }
            }
            &.art01 {
                .bg {
                    background: url(/img/soozi/se03_1.jpg) center/cover;
                }
                .txt_wrap {
                    display: inline-block;
                    width: auto;
                    margin-right: auto;
                    margin-left: 5%;
                    .tit {
                        margin-top: 20px;
                        font-size: 140px;
                        line-height: calc(180 / 200);
                        font-family: "WensleyBold";
                    }
                    .btm_txt_box {
                        display: flex;
                        align-items: flex-end;
                        .sub_txt{
                            margin-bottom: 0.7em;
                            font-family: 'WensleyRegular';
                            line-height: 1.2;
                            letter-spacing: normal;
                            margin-right: 35px;
                        }
                    }
                }
            }
            &.art02 {
                color: #fff;
                .bg {
                    background: url(/img/soozi/se03_2.jpg) center/cover;
                }
                .txt_wrap {
                    text-align: right;
                    display: inline-block;
                    width: auto;
                    margin-left: auto;
                    margin-right: 5%;
                    .tit {
                        font-size: 135px;
                        line-height: calc(160 / 180);
                        font-family: "WensleyBold";
                    }
                    .btm_txt_box {
                        .sub_txt{
                            text-align: left;
                            margin-left: 30px;
                            display: inline-block;
                            margin-top: 60px;
                        }
                    }
                    .btn_wrap {
                        a {
                            border-color: rgba(255,255,255,.8);
                        }
                    }
                }
            }
        }
    }
    &.sec04 {
        > .cont_wrap {
            width: 50%;
            padding: 0;
        }
        .left_wrap {
            .bg {
                background: url(/img/soozi/se04_left_1.jpg) center/cover;
                .cover {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background-color: #000;
                    overflow: hidden;
                }
            }
            .tit {
                font-size: 5.21vw;
                z-index: 1;
                font-family: "WensleyBold";
                color: #fff;
                line-height: 0.7;
                top: auto;
                bottom: 1vw;
                left: 1vw;
            }
        }
        .right_wrap {
            div {
                height: 100%;
            }
            .slide_wrap {
                .best_slider {
                    .best_slide_list {
                        height: 100%;
                        .best_slide_cont {  //슬라이드 공통
                            width: 100%;
                            height: 100%;
                            a {
                                .bg {
                                    background: url(/img/soozi/se04_right_1.jpg) center/cover;
                                }
                                .tit {
                                    font-family: "WensleyBold";
                                    font-size: 5.21vw;
                                    writing-mode: vertical-lr;
                                    top: 120px;
                                    right: 50px;
                                    left: auto;
                                    color: #fff;
                                    text-transform: capitalize;
                                    opacity: 0;
                                    transform: translateY(-40%);
                                    transition: all 0.8s;
                                }
                            }
                            &.slick-active {
                                a {
                                    .tit {
                                        opacity: 1;
                                        transform: translateY(0);
                                    }
                                }
                            }
                            &.slide_cont02 {
                                  a {
                                    .bg {
                                        background: url(/img/soozi/se04_right_2.jpg) center/cover;
                                    }
                                  }  
                            }
                            &.slide_cont03 {
                                  a {
                                    .bg {
                                        background: url(/img/soozi/se04_right_3.jpg) center/cover;
                                    }
                                  }  
                            }
                            &.slide_cont04 {
                                  a {
                                    .bg {
                                        background: url(/img/soozi/se04_right_4.jpg) center/cover;
                                    }
                                  }  
                            }
                            &.slide_cont05 {
                                  a {
                                    .bg {
                                        background: url(/img/soozi/se04_right_5.jpg) center/cover;
                                    }
                                  }  
                            }
                        }
                        .dots_custom {
                            display: flex;
                            position: absolute;
                            bottom: 50px;
                            width: 100%;
                            justify-content: center;
                            li {
                                background: url(/img/soozi/hex_border.png) center/cover;
                                width: 23px;
                                height: 26px;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                margin-right: 2rem;
                                position: relative;
                                opacity: .3;
                                transition: all .5s ease;
                                .dot {
                                    color: #fff;
                                    font-size: 12px;
                                }
                                &.slick-active {
                                    opacity: 1;
                                    background: url(/img/soozi/hex.png) center/cover;
                                    .dot {
                                        color: #000;
                                    }
                                }
                                &:not(:last-child) {
                                    &::after {
                                        content: "";
                                        display: block;
                                        position: absolute;
                                        top: 50%;
                                        left: calc(100% + 5px);
                                        width: 20px;
                                        height: 1px;
                                        background-color: rgba(255, 255, 255, 0.3);
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    &.sec05 {
        > .cont_wrap {
            width: 50%;
            padding: 0;
        }
        .left_wrap {
            background: url(/img/soozi/se05_left_bg.jpg) center/cover;
            z-index: 1;
            .inner_wrap {
                .txt_wrap {
                    font-size: 70px;
                    font-family: "WensleyBold";
                    color: #fff;
                    display: inline-flex;
                    align-items: center;
                    justify-content: center;
                    gap: 20px;
                    img {

                    }
                    .tit {
                        display: inline-block;
                    }
                }
                .btn_3d {
                    background: #fff;
                    border-radius: 50%;
                    width: 180px;
                    height: 180px;
                    margin: 60px auto 0;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;
                    text-align: center;
                    a {
                        .img_3d {

                        }
                        .sub_txt {
                            font-size: 18px;
                            line-height: calc(20 / 18);
                            font-family: "WensleyBold";
                            margin-top: 5px;
                            margin-bottom: 15px;
                        }
                        .arrow_img {

                        }
                    }
                }
            }
        }
        .right_wrap {
            .list_scroll_wrap {
                height: 100%;
                background: #fff;
                display: flex;
                align-items: center;
                padding: 0 175px;
                box-sizing: border-box;
                width: fit-content;
                .scroll_cont_wrap { //ul
                    flex-wrap: nowrap;
                    height: 100%;
                    max-height: 670px;
                    .scroll_cont { //li scroll_cont 공통
                        background: url(/img/soozi/b_s01RBX_01.jpg) center/cover;
                        position: relative;
                        overflow: hidden;
                        width: 100%;
                        height: 100%;
                        transition: 0.6s;
                        a {
                            .txt_wrap {
                                width: 450px;
                                position: relative;
                                color: #fff;
                                height: 100%;
                                .num {
                                    position: absolute;
                                    left: 25px;
                                    top: 35px;
                                    font-size: 50px;
                                    font-family: "WensleyRegular";
                                }
                                .btm_txt {
                                    position: absolute;
                                    bottom: 50px;
                                    left: 50%;
                                    transform: translateX(-50%);
                                    width: 90%;
                                    line-height: 1.4705882353;
                                    text-align: center;
                                    font-size: 18px;
                                    letter-spacing: -0.025em;
                                    .en {
                                        display: block;
                                        font-size: 34px;
                                        font-family: "WensleyBold";
                                    }
                                }
                            }
                        }
                        &:not(:last-child) {
                            margin-right: 150px;
                        }
                        &.cont02 {
                            background: url(/img/soozi/b_s01RBX_02.jpg) center/cover;
                        }
                        &.cont03 {
                            background: url(/img/soozi/b_s01RBX_03.jpg) center/cover;
                        }
                        &.cont04 {
                            background: url(/img/soozi/b_s01RBX_04.jpg) center/cover;
                        }
                        &.cont05 {
                            background: url(/img/soozi/b_s01RBX_05_1.jpg) center/cover;
                        }
                    }
                }
            }
        }
    }
    &.sec06 {
        background: #000;
        color: #fff;
        display: flex;
        align-items: center;
        .wrap_1600 {
            a {
                .bg {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    background-color: #000;
                    background-size: cover;
                    background-repeat: no-repeat;
                    background-position: center;
                    background: url(/img/soozi/b_s02Img.jpg) center/cover;
                }
                .txt_wrap {
                    display: inline-flex;
                    font-family: "WensleyBold";
                    font-size: 100px;
                    color: #fff;
                    z-index: 2;
                    margin: 0 10px;
                }
            }
            .sub_txt {
                position: absolute;
                bottom: 75px;
                left: 50%;
                transform: translateX(-50%);
                color: #fff;
                letter-spacing: -0.025em;
                font-size: 18px;
                line-height: 1.5555555556;
                width: 100%;
                text-align: center;
            }
        }
    }
}

footer {
    background: #000;
    color: #fff;
    padding: 55px 0 30px;
    .wrap_1600 {
        .top_wrap {
            justify-content: flex-start;
            align-items: flex-end;
            justify-content: space-between;
            border-bottom: 1px solid rgba(255, 255, 255, 0.4);
            padding-bottom: 20px;
            .left_cont{
                .sub_txt {
                    font-family: "FaktumRegular";
                    font-size: 32px;
                }
                img {
                    margin-top: 20px;
                }
            }
            .right_cont {
                font-family: "WensleyBold";
                font-size: 28px;
                line-height: calc(50 / 28);
                .foot_menu.left_cont {
                    margin-right: 60px;
                }
            }
        }
        .btm_wrap {
            padding-top: 30px;
            justify-content: space-between;
            font-size: 14px;
            letter-spacing: -0.025em;
            .policy {
                text-transform: uppercase;
                font-family: "FaktumRegular";
                .round_txt {
                    font-size: 13px;
                    letter-spacing: -0.025em;
                    border-radius: 15px;
                    border: 1px solid rgba(255, 255, 255, 0.4);
                    box-sizing: border-box;
                    margin-right: 5px;
                    padding: 1px 7px;
                    text-transform: uppercase;
                }
            }
            .sns_wrap {
                li {
                    margin-left: 30px;
                }
            }
        }
    }
}




// RESPONSIVE
/* 767 이상일 때 */
@media screen and (min-width: 768px){
    .header-wrap .mobile-only, .login-mobile, .mobile-nav-banner, .mobile-nav-button, .mobile-nav-wrap, .nav .category-home, .nav-logout, .shortcut-service-link {
        display: none;
    }
}
